* Import the Libraries

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st
import warnings
warnings.filterwarnings('ignore')

* Loading The Dataset

In [32]:
df=pd.read_csv('data.csv')

In [33]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

* Exploratory Data Analysis (EDA)

In [34]:
# Shape of Data
df.shape

(6405008, 18)

In [35]:
# Data type
df.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [36]:
# Change The datatype
df['tpep_pickup_datetime']=pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime']=pd.to_datetime(df['tpep_dropoff_datetime'])

In [37]:
# Calculating Duration
df['duration']=df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df['duration']=df['duration'].dt.total_seconds()/60
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.00,0.5,1.47,0.00,0.3,11.27,2.5,4.800000
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.00,0.5,1.50,0.00,0.3,12.30,2.5,7.416667
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.00,0.5,1.00,0.00,0.3,10.80,2.5,6.183333
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.50,0.5,1.36,0.00,0.3,8.16,0.0,4.850000
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.50,0.5,0.00,0.00,0.3,4.80,0.0,2.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.00,0.00,0.3,21.14,0.0,31.000000
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.00,12.24,0.3,62.46,0.0,76.000000
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.00,0.00,0.3,51.90,0.0,27.833333
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.00,0.00,0.3,30.22,0.0,22.650000
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.00,0.00,0.3,58.11,0.0,22.000000

In [38]:
# Filter the needed data
df = df[['passenger_count', 'trip_distance', 'payment_type', 'fare_amount', 'duration']]

In [39]:
# Missing Data
df.isnull().sum()

passenger_count    65441
trip_distance          0
payment_type       65441
fare_amount            0
duration               0
dtype: int64

In [40]:
# calculate the percentage of the missing data
(65441/len(df))*100

1.021716132126611

In [41]:
# dlt the missing data
df.dropna(inplace = True)
df

         passenger_count  trip_distance  payment_type  fare_amount   duration
0                    1.0           1.20           1.0          6.0   4.800000
1                    1.0           1.20           1.0          7.0   7.416667
2                    1.0           0.60           1.0          6.0   6.183333
3                    1.0           0.80           1.0          5.5   4.850000
4                    1.0           0.00           2.0          3.5   2.300000
...                  ...            ...           ...          ...        ...
6339562              1.0           2.10           1.0         11.0  14.233333
6339563              1.0           2.13           1.0         13.0  19.000000
6339564              1.0           2.55           1.0         12.5  16.283333
6339565              1.0           1.61           2.0          8.5   9.633333
6339566              1.0           0.00           1.0          0.0   1.066667

[6339567 rows x 5 columns]

In [42]:
# Change the datatype
df['passenger_count']= df['passenger_count'].astype('int64')
df['payment_type']=df['payment_type'].astype('int64')

In [43]:
# Duplicate Data
df[df.duplicated()]

         passenger_count  trip_distance  payment_type  fare_amount   duration
2056                   1           0.00             2          7.0   0.000000
2441                   1           0.00             1         52.0   0.200000
2446                   2           1.70             1          9.5  13.066667
2465                   1           0.40             1          4.0   3.083333
3344                   1           1.20             1          6.0   5.350000
...                  ...            ...           ...          ...        ...
6339558                1           1.63             2          8.0   8.800000
6339559                1           1.81             1          8.5   8.016667
6339560                1           0.98             2          6.5   6.900000
6339562                1           2.10             1         11.0  14.233333
6339565                1           1.61             2          8.5   9.633333

[3331706 rows x 5 columns]

In [44]:
# dlt the Duplicate data
df.drop_duplicates(inplace=True)